.container {
    display:flex;
    text-align: center;
}

h1 {
    font-family: Verdana, Tahoma, sans-serif; 
    font-size: 25px; 
    text-transform: capitalize;
}

p{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-style: italic;
    letter-spacing: 1px;
    line-height: 1.75em;
}

a {
    color: black;
}

a:hover{
    color: red;
}

#list{
    text-decoration: underline;
}

#t-ps{
    text-align: right;
    font-variant: small-caps;
}

body{
    background-color: whitesmoke;
}